<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEATHER APP</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="header">
        {{>nav}}
        <h1>WEATHER APP</h1>

        <div class="container">            
            <form >
                <input type="text" placeholder="Enter the Location">
                <button id="search">Search</button>
            </form>

            <p id="loc"></p>
            <p id="we"></p>
            <p id="con"></p>
    </div>
    </div>
    



    

    <script src="/js/apps.js"></script>
</body>

</html>